img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.2rem;
}

.course-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.course-card-btn {
  margin-top: auto;
  margin-bottom: 0.5rem;
}
